<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
  <hr />
  <div class="footer-link">

    {% if site.author.googlePlus %}
    <a href="https://vk.com/klausdev"><i class="fa fa-vk" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.instagram %}
    <a href="https://telegram.org"><i class="fa fa-telegram" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.facebook %}
    <a href="https://www.facebook.com/profile.php?id=100016936898353"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.github %}
    <a href="https://github.com/klaus-dev"><i class="fa fa-github" aria-hidden="true"></i></a>
    {% endif %}
    
    {% if site.author.stackoverflow %}
    <a href="https://ru.stackoverflow.com/users/248877/klaus-dev?tab=profile"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.medium %}
    <a href="https://medium.com/@klausdev"><i class="fa fa-medium" aria-hidden="true"></i></a>
    {% endif %}

    {% if site.author.email %}
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    {% endif %}

  </div>
  © {{ site.copyright.year }} {{ site.copyright.name }}. All rights reserved.
</div>
